This is file to demostate ansible j2 capabiles.
Jinja2 is a powerful templating engine for Python.
It is often used in Ansible to create dynamic configuration files.
You can use variables, loops, and conditionals in Jinja2 templates.
os-family{{ansible_os_family}}
installtype{{installtype}}
extenal file{{  externalvar}}
include  int variables{{int_values }}
include variables{{names}}
